//colors
$logo-header:#333333;
$menu-header: #b5b5b5;
$hero:#ffffff;
$fondo-seccion: #fffa67;
$fondo-footer:#3a3a3a;
$white:#c1c1c1;
$black:#111111;
$nav1: #04AA6D;
$nav2:#2196F3;
$nav3: #f44336;
$nav4:#555;
$bt1: #3CC93F;
$bt2:#37B839;
$bt3:#3eff42;
$gris: #959292;